<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/imgs/logo.png" alt="" class="img-fluid" style="height:40px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds">All Campgrounds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds/new">New Campground</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Find Users</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link">Sign Up</a>
                    </li>
                <% } else{%>
                    <li class="dropdown nav-item">
                        <a class="nav-link dropdown-toggle " href="#" id="notificationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Notifications</span> <span class="badge bg-secondary ms-1"><%= notifications.length %></span>
                          </a>
                        <ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
                          <li>
                              <a href="/notifications" class="dropdown-item">View past notifications</a>
                          </li>
                          <% if (notifications.length>0) { %>
                          <hr class="dropdown-divider">
                          <% } %>
                          <% notifications.forEach(function(notification) { %>                          
                              <li>
                                  <a href="/notifications/<%= notification.id %>" class="dropdown-item">
                                      <%= notification.username %> created a new campground
                                  </a>
                              </li>
                          <% }); %>
                        </ul>
                      </li>
                    <li class="nav-item mx-3"><a href="/users/<%=currentUser._id%>" class="nav-link">Signed In As <u><%= currentUser.username %></u></a></li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>